#content {
  align-items: center;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#biography-output {
  justify-content: left;
  min-height: 5em;
  min-width: 100%;
}

#portrait-photo {
  height: auto;
  width: 100%;
}

#header {
  height: 10%;
  margin: 1rem 0 1rem 0;
}

#footer {
  height: 10%;
  margin: 1rem 0 1rem 0;
}

.navbar-list {
  display: inline;
  padding: 0;
}

.nav-tile {
  background: var(--main-color-2);
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

.nav-tile > a {
  color: white !important;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
}

a {
  color: var(--main-color-4);
}

a:visited {
  color: var(--main-color-1);
}

html {
  background: var(--main-bg-color);
  background-size: cover;
  color: var(--main-text-color);
  font-family: 'Roboto Mono', monospace, sans-serif, serif;
  height: 100%;
}

:root {
  --main-bg-color: #eae2e8;
  --main-color-1: #a03e05;
  --main-color-2: #51a86e;
  --main-color-3: #ca054d;
  --main-text-color: #3b1c32;
}
