#content {
  align-items: center;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#biography-output {
  justify-content: left;
  min-height: 5em;
  min-width: 100%;
}

#portrait-photo {
  height: auto;
  width: 100%;
}

a {
  color: var(--main-color-4);
}

a:visited {
  color: var(--main-color-1);
}

html {
  background: var(--main-bg-color);
  background-size: cover;
  color: var(--main-text-color);
  font-family: 'Roboto Mono', monospace, sans-serif, serif;
  height: 100%;
}

:root {
  --main-bg-color: #eae2e8;
  --main-color-1: #a03e05;
  --main-color-2: #51a86e;
  --main-color-3: #ca054d;
  --main-text-color: #3b1c32;
}
