/* The delete button of a comment must be placed in the bottom right corner.
 * There is no shorthand in bootstrap to achieve this.
 */
.comment-delete-button {
    position: absolute;
    bottom: 0;
    right: 0;
}